<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="footer-title">About Us</h3>
                <div class="textwidget">
                    <p>We are the manufacturer of EP / Metal Stickers for Wedding Cards, Boxes, Gifts Items, Electronics&nbsp; &amp; Many more.<br> For Inquiries<br> Call us on <strong>+91-8448278309.</strong></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="footer-title">Quick Links</h3>
                <ul class="footer-list">
                    <li><a href="javascript:void(0)">Shop Now</a></li>
                    <li><a href="javascript:void(0)">My Account</a></li>
                    <li><a href="javascript:void(0)">Checkout </a></li>
                    <li><a href="javascript:void(0)">Cart</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="footer-title">Office Hours</h3>
                <div class="textwidget">
                    <p>Mo-Fr: 8:00-19:00
                        <br> Sa: 8:00-14:00
                        <br> So: closed
                        <br> Holidays : Closed
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="footer-title">Contact Us</h3>
                <div class="textwidget">
                    <p><strong>ORIGINAL METALS</strong><br> B-147, Sector 10, Noida,<br> Uttar Pradesh, India<br>
                        <strong>Call Now: +91-8448278309</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <p>COPYRIGHT © 2019 ORIGINAL METALS ALL RIGHTS RESERVED</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="text-right">Powered By : <a href="http://www.webapplicationlabs.com/">Web Application Labs Pvt. Ltd.</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>