<section class="contact-us">
    <div class="banner-section" style="background-image: url('../../../assets/images/banner.png');">
        <div class="container">
            <div class="content-section">
                <h4>Contact Us</h4>
            </div>
        </div>
    </div>
    <div class="contact" style="background-color: #1a1a1a;">
        <div class="container clearfix">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="contact-form">
                        <h3 class="form-title">Get in touch </h3>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100">Name</span>
                                    <input class="input100" type="text" name="name" placeholder="Enter your name">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100">Mobile</span>
                                    <input class="input100" type="text" name="name" placeholder="Enter your mobile">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100">Your Email</span>
                                    <input class="input100" type="text" name="name" placeholder="Enter your email">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100">Your Address</span>
                                    <input class="input100" type="text" name="name" placeholder="Enter your address">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100">Your Subject</span>
                                    <input class="input100" type="text" name="name" placeholder="Enter your subject">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100">Your Message</span>
                                    <input class="input100" type="text" name="name" placeholder="Enter your message">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="submit" class="btn btn-send">Send</button>
                            </div>
                        </div>
                    </div>
                    <div class="address-right-section">
                        <h3 class="form-title">Other ways to contact us </h3>
                        <ul class="address-section">
                            <li>
                                <div class="image-section">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="content-section">
                                    <h4> ADDRESS</h4>
                                    <p>B-147, First Floor,SEC-10. Near Sec-16 Nagar Metro Station, Noida-201301,India
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image-section">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="content-section">
                                    <h4>CONTACT NO.</h4>
                                    <p>Mob: +91 9958291603, +91-8448278309. Off: 0120-4166745
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image-section">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="content-section">
                                    <h4>EMAIL</h4>
                                    <p>originalmetals24@gmail.com
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="map-section">
                    <iframe style="border: 0;" tabindex="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d448423.64812863694!2d77.33172500000002!3d28.590483000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf24c5545d9819a22!2sOriginal%20Metals!5e0!3m2!1sen!2sin!4v1599854918534!5m2!1sen!2sin"
                        width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false"></iframe>
                </div>
            </div>

        </div>
    </div>
</section>